<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Talk</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
   <header>
    <h1>
      <a href="/" class="nav justify-content-center">Tech Talk</a>
    </h1>
    <nav>
      {{#if loggedIn}}
      <a href="/dashboard" class="justify-content-end">Dashboard</a>
      <button id="logout" class="btn-no-style justify-content-end">Logout</button>
      {{else}}
      <a href="/login">Login</a>
      {{/if}}
    </nav>
  </header>
  <div class="wrapper justify-content-center">
    <main>
      {{{ body }}}
    </main>
    <footer>
      Made with ❤️ by: Jasmine Akbari
    </footer>
  </div>
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>